body{
       background-color: rgba(131, 131, 134, 0.76);
}

header{
       background-color: rgb(194, 174, 174);
       text-align: center;
}
nav{
       display: flex;
       justify-content: space-evenly;
       background-color: beige;
       padding: 0.5%;
}

nav a{
       text-decoration: none;
       color: rgb(206, 26, 26);
}

nav a:hover{
       color: rgb(106, 165, 165);
       text-decoration: underline;
}

.container{
       display: flex;
       flex-direction: row;
}

aside{
       display: flex;
       flex-direction: column;
       justify-content: center;
}

.card{
       width: 100%;
}