body{background-color: rgb(122, 175, 222);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

#wrapper{background-color: rgb(202, 213, 223);
  width: 900px;
  margin: 0 auto;
  border: thin solid black}

body p{font-size: 12pt;
      font-weight: 100;
      text-shadow: 1cm;}

header{text-align: center;
      background-color: rgb(14, 57, 57);
      color: rgb(203, 194, 194)}

nav ul{text-align: center;
      text-decoration: none;}

nav li{list-style-type: none;
      background;}

nav a:hover{background-color: aquamarine;
      text-decoration: underline;}

.pic
.slime{text-align: center;}