#logo{background: url('Japanlogo.png') no-repeat top right; background-blend-mode: multiply;}

#first{background: url('nihon.jpg');}
#second{background: url('background.png');}

nav a {color: black;}
.none{text-decoration: none;}

.tokyo{width:500px; height: 470px}
.tower{width: 500px; height: 470px;}

.shibuya{width: 500px; height:470px}
.stair{width: 500px; height: 470px}

.hiroshima{width: 600px; height: 550px}

.hakone{width: 650px; height: 555px}