body{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: url('nihon.jpg');}

#logo{background: url('Japanlogo.png') no-repeat top right;
    background-blend-mode: multiply;}

nav a {color: black;}
.none{text-decoration: none;}
.list{list-style-type: none;
      list-style-image: url('Train.jpeg');
      display: inline-block;}

.tokyo{width:500px; height: 470px}
.tower{width: 500px; height: 470px;}

.shibuya{width: 500px; height:470px}
.stair{width: 500px; height: 470px}

.hiroshima{width: 600px; height: 550px}

.hakone{width: 650px; height: 555px}