body{font-family: Arial, Helvetica, sans-serif;}

header{background-color: aquamarine;
       padding: 30px 10px 15px 0;
       margin-bottom: 25px;
       width: 80%;}

header h1{border: 5px solid black;}