body{font-family: Arial, Helvetica, sans-serif;}

header{background-color: aquamarine;
       padding: 30px 10px 15px 0;
       margin-bottom: 25px;
       width: 80%;}

header h1{border: 5px solid black;}

.boxa{color: rgb(82, 99, 7);}
.boxb{color: rgb(182, 109, 21);}
.boxc{color: blueviolet;}
.boxd{color: brown;}