.content{
    width: 1000px;
    margin: 0 auto;
    background-color: rgb(102, 89, 75);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(238, 232, 232, 0.5);
}

body{
    background-image: url(SAO.jpg);
}

header{
    background-color: rgb(4, 27, 41);
    color: white;
    padding: 10px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

nav{
    display: flex;
    justify-content: space-evenly;
}

nav a{
    text-decoration: none;
    color: rgb(223, 213, 213);
    font-size: large;
}

nav a:hover{
    text-decoration: underline;
    background-color: rgb(7, 32, 50);
    color:rgb(206, 203, 45);
}

.change{
    color: aqua;
}

main h1{
    text-align: center;
    color:white;
    background-color: rgb(4, 27, 41);
    font-family:'Times New Roman', Times, serif
}

main p{
    color: whitesmoke;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.table{
    border: thin solid black;
    box-shadow: 3px 3px 3px;
    border-spacing: 0;
    border-collapse: collapse;
}
    
.table th, .table td{
    border: thin solid rgb(39, 42, 42);
    background-color: rgb(105, 238, 238);
    padding: 5px;
}

#resize{
    width: 350px;
}

.picEdit{
    float: right;
    border: 1px solid rgb(228, 221, 221);
    text-align: center;
    border-radius: 0%;
    box-shadow: 3px 3px 3px;
}

footer{
    color: white;
    text-align: center;
}

.clear{
    clear: both;
}

@media screen and (max-width: 600px) {
    .content{
        width: 100%;
        padding: 10px;
    }

    header, nav, footer{
        text-align: center;
    }

    nav{
        flex-direction: column;
        line-height: 25px;
    }

    .picEdit{
        width: 350px;
    }
    
    #resize{
        width: 100%;
    }
}