.content{
    width: 1000px;
    margin: 0 auto;
    background-color: rgb(102, 89, 75);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(238, 232, 232, 0.5);
}

body{
    background-image: url(SAO.jpg);
}

header{
    background-color: rgb(4, 27, 41);
    color: white;
    padding: 10px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

nav{
    display: flex;
    justify-content: space-evenly;
}

nav a{
    text-decoration: none;
    color: rgb(223, 213, 213);
    font-size: large;
}

nav a:hover{
    text-decoration: underline;
    background-color: rgb(7, 32, 50);
    color:rgb(206, 203, 45);
}

.change{
    color: aqua;
}

main h1{
    text-align: center;
    color:white;
    background-color: rgb(4, 27, 41);
    font-family:'Times New Roman', Times, serif
}

main p{
    color: whitesmoke;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.cardprofile figure{
    display: grid;
    border: thin solid white;
    align-items: center;
    text-align: center;
    margin: 0;
}

.size {
    width: 100%;
    height: 550px; 
    object-fit: cover; 
    display: block;
}

figcaption{
    background-color: rgb(4, 27, 41);
    color: white;
    padding: 10px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

figcaption a{
    text-decoration: none;
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: small;
}

figcaption a:hover{
    text-decoration: underline;
    color: rgb(206, 203, 45);
}

footer{
    color: white;
    text-align: center;
}

.clear{
    clear: both;
}

@media screen and (max-width: 600px) {
    .content{
            width: 100%;
            padding: 10px;
    }
}

@media only screen and (max-width: 600px){
    nav{
        flex-direction: column;
        text-align: center;
        line-height: 25px;
    }
    .card-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
    
    .cardprofile figure{
        display: grid;
        border: thin solid white;
        align-items: center;
        text-align: center;
        margin: 0;
    }
}